@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
 
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul{
  list-style-type: none;
}

.header{
  display: flex;
  justify-content: space-between;
  
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* places footer at bottom*/
  margin-top: auto;
}

.header .left-links{
  display: flex;
  gap: 25px;
}

.header .right-links{
  display: flex;
  gap: 25px;
  margin-right: 25px;
}

.footer .left-links{
  display: flex;
  gap: 25px;

}

.footer .right-links{
  display: flex;
  gap: 10px;
  margin-right: 25px;
}

a {
  color:black;
  font-weight: bold;
  text-decoration: none;
}

/* links pink when hovered*/

a:hover{
  color: hotpink;
}

.content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  /* centers the content*/
  margin-top: auto;
  margin-bottom: auto;

}

